
*{
    margin: 0;
   
    }


.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 500px;
  background-color: rgb(143, 188, 255);
  }

  img{
    width: 190px;
    height: 190px ;
    border-radius: 100%;
  }

  h1 {
    text-align: center;
   
    padding-bottom: 10px;
  }
  h2{
    text-align: center;
    padding: 20px;
  }
  form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  label,
  input,
  button{
    display: block;
    margin: 20px;
    text-align: center;
    align-items: center;
  }
  .boton{
    padding-left: 110px;
    padding-top: 30px;
  }

