*{
    margin: 0;
    background-color: rgb(143, 188, 255);
    }

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: rgb(143, 188, 255);
}
 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

}